/* PALETTE
#C9DAEA - COLUMBIA BLUE
#85FFC7 - AQUAMARINE
#DF00FF - PSYCHEDELIC PURPLE
#297373 - MYRTLE GREEN
#2B4141 - JAPANESE INDIGO */

/********** Global Styles **********/

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    color: #2b4141;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

a{
    color: #df00ff;
}
a:hover{
    text-decoration: none;
}
a:active{
    background: none;
    outline: none;
}

h1{
    font-family: 'Caveat', cursive;
    margin: 0;
    font-weight: 400;
    line-height: 1;
}
h2{
    margin: 0;
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin: 0;
    font-weight: 400;
}

.contentWrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}

h3{
    margin-bottom: 0;
}
.itemDetails h3 + p{
    font-style: italic;
}
.itemDetails h3 ~ p{
    margin: 0;
}

.divider > section{
    border-bottom: 1px dashed #2b4141;
    padding: 1.5em 0;
}
.divider > section:last-of-type{
    border: none;
}

/********** Profile **********/

header{
    background: #297373;
    color: #c9daea;
}

/********** Projects **********/

.projects{
    background: #c9daea;
    padding-bottom: 12px;
    display: none;
}

.projects .btn{
    color: #c9daea;
    background: #df00ff;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover{
    background: rgb(223,0,255,80%);
}

.projectItem{
    overflow: hidden;
}
.projects h3{
    margin-top: 0;
}

/********** Work **********/

.work{
    background: #85FFC7;
}

/********** Education **********/ 

.education{
    /* background-image: url(../images/volodymyr-hryshchenko-inI8GnmS190-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left; */
    padding-bottom: 102px;
}
.education p{
    width: 60%;
}

/********** Contact **********/

footer{
    background: #2B4141;
    color: #c9daea;
}
footer a{
    background-color: #c9daea;
    text-decoration: none;
    padding: 9px;
    border-radius: 9px;
    display: inline-block;
}
footer a:hover{
    background: rgb(223,0,255,80%);
}

.contactList{
    padding: 0;
}
.contactList a{
    margin: 5px;
    display: inline-block;
}

.credit{
    font-size: 12px;
    font-weight: 100;
    line-height: 0;
    margin-top: 4em;
}
.credit a{
    background: none;
    color: #c9daea;
    padding: none;
    margin: none;
}

/********** Media Queries **********/

@media screen and (min-width: 720px){
    header, footer{
        text-align: center;
    }

    .projectItem img{
    float: left;
    margin-right: 1em;
    }

    .jobItem{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }

    .education{
        background-image: url(../images/volodymyr-hryshchenko-inI8GnmS190-unsplash.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
        padding-bottom: 102px;
    }
    
    .contactList{
        display: flex;
        justify-content: center;
    }
    .contactList a{
        padding: 15px;
    }
    .contactList img{
        width: 64px;
        height: 64px;
    }
}

@media screen and (max-width: 720px){
    h1{
        font-size: 4.69em;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2{
        line-height: 1;
    }
}

@media screen and (min-width: 1280px){
    .education{
        background-size: contain;
        background-repeat: no-repeat;
    }
}
